<div>
   
    <h2>Staff Details</h2>
    <div class="cards">
    <ul class="catalysts">
      <li *ngFor="let catalyst of catalysts" (click)="onSelect(catalyst)">
        <span class="badge">{{catalyst.id}}</span>{{catalyst.name | uppercase}}
      </li>
    </ul>

    <!-- <div *ngIf="selectedCatalyst">
      <h2>{{selectedCatalyst.name | uppercase}} Details</h2>
      <div><span>id: </span>{{selectedCatalyst.id}}</div>
      <img src="assets/img/{{selectedCatalyst.image}}">
      <div>
        <label>name:
          <input [(ngModel)]="selectedCatalyst.name" placeholder="name">
        </label>
      </div>
    </div> -->
    <div *ngIf="selectedCatalyst">
        <mat-card>
            <img src="assets/img/{{selectedCatalyst.image}}" class="mat-card-image" alt="image caption">
            <mat-card-content>
              <h2>{{selectedCatalyst.name | uppercase}} Details</h2>
              <p><span>id: </span>{{selectedCatalyst.id}}</p>
            </mat-card-content>
            <mat-card-footer>
                <label>name:
                    <input [(ngModel)]="selectedCatalyst.name" placeholder="name">
                  </label>
            </mat-card-footer>
           </mat-card>
      </div>
    </div>
</div>